[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Vaccine
Comment=A Desktop 4chan Client
Exec=vaccine
Terminal=False
Icon=org.vaccine.app
Categories=Internet;
StartupNotify=true
X-GNOME-UsesNotifications=true
