[Desktop Entry]
Type=Application
Name=Vaccine
Comment=A Desktop 4chan Client
Exec=vaccine
Terminal=false
Icon=org.vaccine.app
Categories=Internet;
StartupNotify=true
X-GNOME-UsesNotifications=true
