.tile scrolledwindow undershoot {
	background-image: none;
}

:not(:backdrop) .tile label:disabled {
	color: @theme_text_color;
}

/* separators between rows */
.post-list-row + .post-list-row {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

textview, text {
	background: none;
}

.tile {
	box-shadow: inset 0 1px @theme_base_color, 0 1px 1px alpha(black,0.4);
	border: 1px solid mix(@theme_base_color,@theme_fg_color,0.3);
	background-image: none;
	background-color: mix(@theme_base_color,@theme_bg_color,0.3);
}

.tile:hover {
	background-color: @theme_base_color;
}

.tile:active {
	border-color: @theme_selected_bg_color;
	box-shadow: none;
	color: @theme_selected_bg_color;
}

.tile:backdrop {
	box-shadow: none;
	border-color: @unfocused_borders;
}
