@define-color border_color shade(@theme_base_color, 0.7);
VaccineThreadPane {
	background-color: @theme_base_color;
}

VaccineCatalogWidget > GtkViewport {
	border: none;
	background-color: @theme_bg_color;
}

VaccineCatalogWidget > GtkScrolledWindow {
	border: none;
}

VaccineCatalogItem {
	border: 1px solid @border_color;
	box-shadow: 0px 0px 4px darker(@theme_bg_color);
	background-color: shade(@theme_bg_color, 0.92);
}

VaccineCatalogItem .number_left {
	border-top: 1px solid @border_color;
	border-right: 1px solid @border_color;
	background-color: @theme_bg_color;
	box-shadow: 0px 0px 3px shade(@theme_bg_color, 0.67);
}

VaccineCatalogItem .number_right {
	border-top: 1px solid @border_color;
	border-left: 1px solid @border_color;
	background-color: @theme_bg_color;
	box-shadow: 0px 0px 3px shade(@theme_bg_color, 0.67);
}

VaccineCatalogItem .textarea {
	border: 1px solid @border_color;
	background-color: @theme_base_color;
}

VaccineCatalogItem .textarea GtkLabel:insensitive {
	color: @theme_text_color;
}
