GtkFlowBox, GtkFlowBoxChild {
	background: #fcfcfc;
	padding: 5px;
}

VaccineCatalogItem {
	border-radius: 2px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16),
		    0px 2px 10px 0px rgba(0, 0, 0, 0.12);
	background: #fff;
}

VaccineCatalogItem .textarea GtkLabel:insensitive {
	color: @theme_text_color;
}

VaccineCatalogWidget GtkScrolledWindow {
	background: none;
}
